<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="wsCipolServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--
      Mínimo y máximo Pool de conexiones a crear. Esta configuración debe ser igual 
      en todos los sitios, ya que el Pool de conexión se utiliza si el string de conexión 
      es el mismo. 
    -->
		<add key="PoolMin" value="5"/>
		<add key="PoolMax" value="10"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
-->
		<authentication mode="Windows"/>
		<!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
	<applicationSettings>
		<wsCipolServices.Properties.Settings>
   <setting name="wsCipolServices_Fachada_Seguridad_IniciarSesion_wsInicioSesion"
    serializeAs="String">
    <value>http://localhost:59859/wsInicioSesion.asmx</value>
   </setting>
   <setting name="wsCipolServices_Fachada_Seguridad_ABM_wsCOA_ABMBase"
    serializeAs="String">
    <value>http://localhost:59859/wsCOA_ABMBase.asmx</value>
   </setting>
   <setting name="wsCipolServices_Fachada_Seguridad_InicioSesion_Java_wsInicioSesion_Java"
    serializeAs="String">
    <value>http://localhost:59859/wsInicioSesion_Java.asmx</value>
   </setting>
   <setting name="wsCipolServices_Fachada_Seguridad_wsSeguridad"
    serializeAs="String">
    <value>http://localhost:59859/wsSeguridad.asmx</value>
   </setting>
   <setting name="wsCipolServices_Fachada_Seguridad_Downloader_wsSIRActualizaciones"
    serializeAs="String">
    <value>http://localhost:59859/wsSIRActualizaciones.asmx</value>
   </setting>
   <setting name="wsCipolServices_Fachada_Seguridad_CipolSupervision_wsCipolSupervision"
    serializeAs="String">
    <value>http://localhost:59859/wsCipolSupervision.asmx</value>
   </setting>
  </wsCipolServices.Properties.Settings>
	</applicationSettings>
</configuration>