<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="wsCipolServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="PoolMin" value="5" />
		<add key="PoolMax" value="10" />
		<add key="EnviarDireccionIP" value="N" />
		<add key="UtilizarMetodoDNS" value="S" />
		<add key="UtilizarIPV6" value="N" />
		<add key="ServicioPublicoIP" value="S" />
		<add key="ModoDebug" value="NO" />
		<add key="PathImagenes" value="Images/icon/"/>
		<add key="AuditarExcepciones" value="SI"/>
		<add key="RegistrodeEventos" value="WEBCIPOL"/>
		<add key="OrigenRegistroEventos" value="INICIO"/>
		<add key="PaginaCierreSesion" value="frmLogin.aspx"/>
    <add key="PriorityToFirstLogin" value="false"/>
		<!--Servicio SSO - Esta KEY se usa para determinar si se permite el login SSO. Cuando no se permite, deja el valor en blanco -->
		<!--<add key="ServicioValidacionToken" value="http://localhost:8088/mockAPISoap"/>-->
		<add key="ServicioValidacionToken" value=""/>
		<!--Acción a invocar para validar Token SSO-->
		<add key="ServicioValidacionTokenAction" value="http://tempuri.org/AuthenticateToken"/>
		<!--Nombre de terminal habilitada para SSO-->
		<add key="MachineNameSSO" value="SERVER16"/>
		<!--Identificación de Sisitema en SSO-->
		<add key="ID_APP" value="86"/>
	</appSettings>
	<applicationSettings>
		<wsCipolServices.Properties.Settings>
			<setting name="wsCipolServices_Fachada_Seguridad_IniciarSesion_wsInicioSesion" serializeAs="String">
				<value>http://localhost:59859/wsInicioSesion.asmx</value>
			</setting>
			<setting name="wsCipolServices_Fachada_Seguridad_ABM_wsCOA_ABMBase" serializeAs="String">
				<value>http://localhost59859/wsCOA_ABMBase.asmx</value>
			</setting>
			<setting name="wsCipolServices_Fachada_Seguridad_InicioSesion_Java_wsInicioSesion_Java" serializeAs="String">
				<value>http://localhost:59859/wsInicioSesion_Java.asmx</value>
			</setting>
			<setting name="wsCipolServices_Fachada_Seguridad_wsSeguridad" serializeAs="String">
				<value>http://localhost:59859/wsSeguridad.asmx</value>
			</setting>
			<setting name="wsCipolServices_Fachada_Seguridad_Downloader_wsSIRActualizaciones" serializeAs="String">
				<value>http://localhost:59859/wsSIRActualizaciones.asmx</value>
			</setting>
			<setting name="wsCipolServices_Fachada_Seguridad_CipolSupervision_wsCipolSupervision"
		serializeAs="String">
				<value>http://localhost:59859/wsCipolSupervision.asmx</value>
			</setting>
		</wsCipolServices.Properties.Settings>
	</applicationSettings>
	<connectionStrings/>
	<system.web>
		<customErrors mode="Off" />
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		<authentication mode="Forms">
      <forms loginUrl="frmLogin.aspx" defaultUrl="frmLogueado.aspx" timeout="1440" name="usrcipolinicio" protection="All" slidingExpiration="false">
				<credentials passwordFormat="Clear">
					<user name="usrcipolinicio" password="usrcipolinicio" />
				</credentials>
			</forms>
		</authentication>

		<!--<authorization>
			<deny users="?" />
		</authorization>-->
		<sessionState mode="InProc" timeout="1440" />
		<compilation debug="true" targetFramework="4.0"/>
		<!--
						La sección <authentication> habilita la configuración 
						del modo de autenticación de seguridad que usa 
						ASP.NET para identificar a un usuario entrante. 
			<authentication mode="Windows"/>
				-->

		<!--
						La sección <customErrors> habilita la configuración de 
						las acciones que se deben realizar si un error no controlado tiene lugar
						durante la ejecución de una solicitud. En concreto, 
						permite a los desarrolladores configurar páginas de error html 
						que se mostrarán en lugar de un seguimiento de pila de errores.

				<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
						<error statusCode="403" redirect="NoAccess.htm" />
						<error statusCode="404" redirect="FileNotFound.htm" />
				</customErrors>
				-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!--<location path="frmTipoSeguridad.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="PageBuilders/ws">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Images">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>-->
	<!-- 
				La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
				Information Services 7.0. No es necesaria para la versión anterior de IIS.
		-->
	<system.web.extensions>
		<scripting>
			<scriptResourceHandler enableCompression="true" enableCaching="true" />
			<webServices>
				<jsonSerialization maxJsonLength="50000000" />
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>